:root {
  --bgcolor: #e5e5e5;
  --color-text: #212121;
  --hover-focus: #2196f3;
}

body {
  font-family: roboto;
  color: var(--color-text);
  background-color: var(--bgcolor);
}
.logo {
  font-size: 26px;
  font-family: raleway;
  text-decoration: none;
  color: var(--color-text);
}
.logo-web {
  font-size: 26px;
  font-family: raleway;
  color: var(--hover-focus);
}
.nav-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-focus);
}
.list {
  list-style: none;
}
.color-g {
  color: #757575;
}
.hero {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
}
.order-service {
  color: #ffffff;
  background-color: var(--hover-focus);
  border: none;
  border-radius: 4px;
  /* width: 200px; */
  /* height: 50px; */
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  font-family: roboto;
}
.order-service:hover,
.order-service:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-service:active {
  color: var(--color-text);
  background-color: #f5f4fa;
}
.hide {
  opacity: 0;
}
.hero-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.head-style {
  font-size: 36px;
  line-height: 1.16;
}
.team {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}
.team-fs {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}
.adr-list {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.adr-list:hover,
.adr-list:focus {
  color: var(--hover-focus);
}
.filter-btn button {
  color: #212121;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: roboto;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.btn:active {
  color: #ffffff;
  background-color: var(--hover-focus);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
.btn {
  cursor: pointer;
}
.list > p {
  font-size: 16px;
  font-weight: 400;
}
.list .poster-name {
  font-size: 18px;
  font-weight: 700;
}
